In [3]:
import pandas as pd

# Import Data from csv to Dataframe using pandas

In [10]:
fb = pd.read_csv('../data/facebook.csv', index_col='Date', parse_dates=True)
print(fb)
ms=pd.read_csv('../data/microsoft.csv', index_col='Date', parse_dates=True)
#ms

                  Open        High         Low       Close   Adj Close  \
Date
2014-12-31   20.400000   20.510000   19.990000   20.049999   19.459270
2015-01-02   20.129999   20.280001   19.809999   20.129999   19.536913
2015-01-05   20.129999   20.190001   19.700001   19.790001   19.206934
2015-01-06   19.820000   19.840000   19.170000   19.190001   18.624611
2015-01-07   19.330000   19.500000   19.080000   19.139999   18.576082
...                ...         ...         ...         ...         ...
2018-01-30  241.110001  246.419998  238.410004  242.720001  242.720001
2018-01-31  245.770004  249.270004  244.449997  245.800003  245.800003
2018-02-01  238.520004  246.899994  238.059998  240.500000  240.500000
2018-02-02  237.000000  237.970001  231.169998  233.520004  233.520004
2018-02-05  227.000000  233.229996  205.000000  213.699997  213.699997

              Volume
Date
2014-12-31   4157500
2015-01-02   2842000
2015-01-05   4948800
2015-01-06   4944100
2015-01-07   8045200
...              ...
2018-01-30  14270800
2018-01-31  11964400
2018-02-01  12980600
2018-02-02  17961600
2018-02-05  28869000

[780 rows x 6 columns]

# Basics of DataFrame
fb.index[0] -> first date of the data
fb.index[-1] -> last date of the data

fb.shape -> gives us how many variables we have and how much data points
fb.tail -> last row

fb.describe -> generates descriptive statistics about the data frame (mean, std dev, quartils, etc)

In [14]:
print(fb.index[0])
print(fb.index[-1])

2014-12-31 00:00:00
2018-02-05 00:00:00

In [15]:
fb.describe()

,Open,High,Low,Close,Adj Close,Volume
count,780.000000,780.000000,780.000000,780.000000,780.000000,7.800000e+02
mean,80.212705,81.285654,79.022397,80.264897,79.914215,1.204453e+07
std,64.226121,65.048907,63.190963,64.198375,64.327846,8.221848e+06
min,19.250000,19.500000,18.940001,19.139999,18.576082,1.311200e+06
25%,25.525000,26.085000,24.845000,25.475000,25.134512,7.215200e+06
50%,53.379999,54.034999,52.930000,53.420000,53.035403,9.728700e+06
75%,113.322502,115.779999,110.297499,113.702501,113.261238,1.408885e+07
max,245.770004,249.270004,244.449997,246.850006,246.850006,9.232320e+07

# Slicing DataFrame
fb.loc['2015-01-02' , 'Close'] -> Column and Line are mentioned as NAMES

fb.iloc[1,3] -> Column and Line are mentioned as their INDEXES

In order to get an interval of values, we use basic python syntax:
- close price for all year: fb.loc['2015-01-02':'2015-12-31','Close']

In [16]:
fb.loc['2015-01-02', 'Close']

20.129999

In [17]:
fb.iloc[1,3]

20.129999

In [19]:
fb.loc['2015-01-02':'2015-12-31', 'Close']

Date
2015-01-02    20.129999
2015-01-05    19.790001
2015-01-06    19.190001
2015-01-07    19.139999
2015-01-08    19.860001
                ...
2015-12-24    33.169998
2015-12-28    33.139999
2015-12-29    33.680000
2015-12-30    33.389999
2015-12-31    32.959999
Name: Close, Length: 252, dtype: float64

In [20]:
#To get all atributes, we use ":" instead of the column name
fb.loc['2015-01-02':'2015-12-31', : ]

                 Open       High        Low      Close  Adj Close   Volume
Date
2015-01-02  20.129999  20.280001  19.809999  20.129999  19.536913  2842000
2015-01-05  20.129999  20.190001  19.700001  19.790001  19.206934  4948800
2015-01-06  19.820000  19.840000  19.170000  19.190001  18.624611  4944100
2015-01-07  19.330000  19.500000  19.080000  19.139999  18.576082  8045200
2015-01-08  19.360001  19.980000  19.350000  19.860001  19.274870  7094500
...               ...        ...        ...        ...        ...      ...
2015-12-24  32.959999  33.250000  32.910000  33.169998  32.726662  1311200
2015-12-28  32.820000  33.139999  32.360001  33.139999  32.697067  3550600
2015-12-29  33.160000  33.779999  33.070000  33.680000  33.229843  5091500
2015-12-30  33.650002  33.939999  33.380001  33.389999  32.943722  4508600
2015-12-31  33.340000  33.490002  32.959999  32.959999  32.519466  3713200

[252 rows x 6 columns]